
html, body {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    line-height: 25px;
}

a{
    text-decoration: none;
}

a :focus{
    text-decoration: none;
}

a :active{
    text-decoration: none;
}

/* Scrollup */

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: rgba(133, 133, 133, 0.582);
    background-color: transparent;
    cursor: pointer;
}

/* Navigation */
.nav {
    height: 60px;
    width: 100%;
    overflow-x: hidden;
    background-color: #ffffffe8;
  }

  .nav-logo{
      height: 40px;
      margin: auto;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    color: #0F1360;
    padding: 10px 10px 0px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 20px 10px 0px 10px;
    height: 40px;
    text-decoration: none;
    color: #0F1360;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #BCC5EE;
  }
  
  .nav > #nav-check {
    display: none;
  }

.social .fab{
    color: #0F1360 ;
    font-size: 2rem;
}

.social .fas{
    color: #0F1360 ;
    font-size: 2rem;
}

/* Hero image with stars */
.hero{
    background-image: url(./assets/herobg2.jpg);
    background-size: cover;
    /* box-shadow: inset 0 0 0 1000px #0f136059;  */
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herotitle{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-logo{
    margin: auto;
    align-items: center;
    height: 300px;
}

.title{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 5rem;
    color: #ffffff;
    margin-top: 0px;
    animation: fadeIn ease 4s;
}

/* .subtitle{  
    font-size: 3rem;
    color: #ffffff;
    font-weight: lighter;
    margin-top: 0px;
    text-align: center;
    animation: fadeIn ease 4s;
} */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* About me */

.aboutme{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    height: auto;
    padding: 50px;
}

.profilpic{
    height: 250px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profpic{
    height: 100%;
}

.aboutcontainer{
    width: 50%;
}

.heading{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about{
    margin-bottom: 20px;
    text-align: justify;
}

.callme{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.callbutton{
    background: linear-gradient(90deg, rgba(15,19,96,1) 0%, #BCC5EE);
    width: 180px;
    height: 20px;
    color: white !important;
    border-radius: 20px;
    text-align: center;
    text-justify: center;
    padding: 10px;
    font-weight: 500;
}

.callmesub{
    display: flex;
    flex-direction: row;
}
.callmesubicon{
    border-radius: 20px;
    height: 20px;
    padding: 10px;
    width: 20px;
    background:  #BCC5EE;
    margin: 0px 5px 0px 10px;
    text-align: center;
}

.callmesubtitle{
    margin: 0px 0px 0px 10px;
    font-weight: bolder;
}

.callmesubphone{
    margin: 0px 0px 0px 10px;
}

/* Hidden description */

.hidden-button-a{
    display:block;
}

.hidden-a{
    display: none;
    flex-direction: column;
    width: 100%;
}

.hidden-button-b{
    display: block;
}

.service-button{
    color: #0F1360;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    border: 0px;
    border-radius: 10px;
    margin-top: 10px auto;
    text-align: center;
    cursor: pointer;
}
.service-button:focus{
    color: #1c24c2;
}

.idezet {
    display: none;
    flex-direction: column;
    justify-content: center;
    color: #0F1360;
    padding: 30px;
}
.quotebox {
    background: #BCC5EE;
    border-radius: 20px;
    width: 250px;
    margin: auto;
    margin-bottom: 0;
    padding: 30px 50px 50px 30px;
  }
.quote {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
  }
  
  /* Font-Awesome Icons Styles */
  .right-quotation-mark {
    float: right;
  }
  
  .fa-quote-left {
    color: #0F1360;
  }
  
  .fa-quote-right {
    color: #0F1360;
  }

/* Services */

.services{
    height: 250px;
    background: linear-gradient(270deg, rgba(15,19,96,1) 0%, #BCC5EE 100%);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.serv-uni{
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servic{
    width: 100px;
    margin: auto;
}

/* Szolgáltatások részletesen */

.services-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.theservice{
    margin: 5px 0px 5px 0px;
    align-items: center; 
    width: 75%;
}
.bigimage{
    width: 48%;
}

.bigimage :hover {
    box-shadow: inset 0 0 0 1000px #bcc5ee; ;
}

.servdescription{
    width: 48%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-self: center;

}

.bigimg{
    width:100%;
}

.callbutton2{
    /* background: linear-gradient(90deg, rgba(15,19,96,1) 0%, #BCC5EE); */
    border: 1px solid #BCC5EE;
    width: 300px;
    height: 20px;
    color: rgba(15,19,96,1);
    border-radius: 20px;
    text-align: center;
    text-justify: center;
    padding: 10px;
    font-weight: 500;
    margin-top: 15px;
    align-self: center;
}

.callbutton2:hover {
    background-color:  rgba(15,19,96,1);
    color: white;
}

/* Contact */
.contact-container{
    padding-top: 20px;
    background: linear-gradient(270deg, rgba(15,19,96,1) 0%, #BCC5EE 100%);;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.contact{
    display: flex;
    flex-direction: row;
    width: 75%;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
}

.gform{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.input-field{
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
}

.input-area{
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

::placeholder { 
    color: white;
    opacity: .7;
  }

  .privacy{
      color: white;
  }

.button-send{
    border: 0px;
    border-radius: 20px;

    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(15,19,96,1);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.map{
    width: 48%;
}

.kapcsolodas {
    display: none;
}
/* Footer */
.footer{
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.creator{
    color:#0F1360 ;
    font-size: 0.8rem;
}

.creator a{
    text-decoration: none;
}

.logo{
    width:100px;
}


@media(max-width: 650px) {
    .services{
        flex-direction: column;
        height: auto;
    }
}
@media(max-width: 800px) {
    .idezet {
        display: flex;
    }

.theservice{
    flex-direction: column;
    width: 90%;
}
.bigimage{
    width: 100%;
    margin-bottom: 15px;
}

.servdescription{
    width: 100%;
    margin-bottom: 15px;
}

.contact{
    flex-direction: column;
    width: 90%;
}
.map{
    width: 90%;
    margin-bottom: 15px;
}
.gform{
    width: 90%;
}
}
@media(max-width: 1100px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;

      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 60px;
        height: 45px;
        padding-top: 15px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: #BCC5EE;
      }
      .nav > .nav-btn > label > span {
        display: flex;
        width: 25px;
        height: 10px;
        border-top: 3px solid #0F1360;
        margin: auto;
        align-items: center;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #BCC5EE;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }

    .hero{
        background-position:center;
    }

    .hero-logo{
        margin-top: 40px;
    }

    .title{
        font-size: 3rem;
    }
    
    .subtitle{  
        font-size: 1.7rem;
    }

    .navbutton{
        font-size: 1rem;
    }

    .aboutme{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .profilpic{
        height: 200px;
        width: 75%;
    }

    .aboutcontainer{
        width: 90%;
    }

    .about{
        text-align: justify;
    }

    .aboutmee {
        text-align: center;
    }

    .callmesubphone{
        margin: 0px 0px 0px 10px;
        font-size: .75rem;
        display: none;
    }

    .callme{
        justify-content: center;
    align-items: center;
    }
    .callmesubtitle{
        display: none;
    }

    .callmesub {
        justify-content: center;
        align-items: center;
    }

    

}
  