.star {
    width: 60px;
    height: 60px; 
    /* border-radius: 50%; */
    background-image: url(./assets/star2.png); 
    background-size: cover;
    position: absolute;
    animation: glow 5s infinite;
  }
  

  @keyframes glow {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.01;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  